@media only screen and (max-width: 600px) {

    .mainContainer {
        /* height: 260vh; */
        display: flex;
        flex-direction: column;
    }

    .main {
        width: 100%;
        height: 50vh;
        background: url('../../assets/extra-icons/salesBgMobile.png') no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-color: #151617;
        object-fit: contain;
        background-size: contain;
    }

    .isInValid {
        border-bottom: 1px solid red !important;
    }

    .rectangleForm {
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        background-color: #fff;
        padding: 32px 42px;
        border-top-left-radius: 46px;
        border-top-right-radius: 46px;
        display: flex;
        flex-direction: column;
    }

    .enquiryText h2 {
        font-family: 'CircularStd-Bold';
        font-size: 16px;
        text-align: left;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
    }

    .headTextContainer {}

    .headText {
        color: white;
        padding-top: 19vw;
        font-family: 'CircularStd-Bold';
        font-size: 22px;
        text-align: left;
        padding-left: 16vw;
        height: 30vh;
    }

    .form {
        margin-top: 4px;
        font-family: 'CircularStd-Book';
        text-align: left;
        line-height: 1.2;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
    }

    .formGroup label {
        margin-top: 20px;
        font-family: 'CircularStd-Book';
        text-align: left;
        line-height: 1.2;
    }

    .inputBox {
        border: none;
        border: none;
        border-bottom: 1px solid #b1b1b1;
        width: 100%;
        line-height: 1.9;
        outline: none;
    }

    .inputBox:hover {
        border-bottom: 2px solid #151617;
    }


    ::placeholder {
        font-family: 'CircularStd-Bold';
        font-size: 14px;
        text-align: left;
        color: #b1b1b1;
    }

    .requestCallButton {
        text-align: center;
    }

    .requestCallButton button {
        height: 48px;
        padding: 16px 37px;
        background-color: #e32228;
        margin-top: 20px;
        border-radius: 8px;
        font-family: 'CircularStd-Bold';
        font-size: 16px;
        text-align: center;
        color: #fff;
        border: none;
        width: 90%;
    }

    .salesFanImg {
        width: 100%;
    }

    .salesFanImg p {
        font-family: 'CircularStd-Bold';
        font-size: 12px;
        line-height: 1.36;
        text-align: left;
        color: white;
        margin-top: -14vw;
        padding-left: 24px;
        margin-bottom: 6vw;
    }

    .salesFanImg img {
        width: 100%;
    }

    .orderDescriptionContainer {
        display: flex;
        flex-direction: column;
        background-color: #fde3ff;
        margin-top: 6vw;
        padding: 12vw 6px;
    }

    .viewAllMainContainer {
        display: flex;
        justify-content: flex-end;
        height: 22px;
        cursor: pointer;
    }

    .viewAllContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        padding-top: 8px;
    }

    .viewAllContainer p {
        color: #397ef5;
        font-family: CircularStd-Book;
        font-size: 14px;
        text-decoration: underline;
    }

    .viewAllContainer img {
        padding-left: 4px;
    }

    .orderDescription p {}

    .orderDescriptionText {
        font-family: 'CircularStd-Book';
        font-size: 12px;
        line-height: 1.4;
        text-align: left;
        color: #6c6c6c;
        padding: 14px 32px;
    }

    .orderHead h2 {}

    .orderHeadText {
        color: #151617;
        font-family: 'CircularStd-Bold';
        font-size: 18px;
        line-height: 1.31;
        text-align: left;
        padding-left: 4vh;
    }

    .requestCallButton p {
        font-family: 'CircularStd-Bold';
        font-size: 16px;
        text-align: center;
        color: #fff;
    }

    .salesEnquiryProductContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 8px;
        padding: 2px;
        width: 100%;
        justify-content: space-evenly;
    }

    .lastProduct {
        width: 96% !important;
        background-color: white;
    }

    .lastProduct img {

        width: 46% !important;
        object-fit: contain;
    }

    .productImg img {
        width: 50%;
    }

    .salesEnquiryProductImgContainer {
        position: relative;
        width: 46%;
    }

    .productImg {
        width: 100%;
        padding: 20px 10px;        
        background-color: #fff;
        align-items: center;
        
    }

  


    .imgProductName {
        text-align: left;
        font-family: 'CircularStd-Book';
        font-size: 12px;
        text-align: left;
        color: #151718;
        bottom: 15px;
        left: 16px;
        position: absolute;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

}

@media only screen and (min-width: 600px) {
    .mainContainer {

        display: flex;
        flex-direction: column;

    }

    .main {
        background: url('../../assets/extra-icons/salesBg.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 100%;
        background-color: #151617;
        object-fit: contain;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: local;
        padding-bottom: 6vh;
    }


    .headText {
        color: white;
        padding-top: 15vw;
        font-family: 'CircularStd-Bold';
        font-size: 46px;
        text-align: left;
        padding-left: 2vw;
    }

    .rectangleForm {
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        background-color: #fff;
        padding: 58px 40px;
        display: flex;
        flex-direction: column;        
        width: 38%;
        height: 70%;
        border-radius: 28px;
        margin-top: 18vh;
    }

    .enquiryText h2 {
        font-family: 'CircularStd-Bold';
        font-size: 28px;
        text-align: left;
        color: #151718;
        white-space: nowrap;
    }

    .formContainer {
        display: flex;
        flex-direction: column;
    }

    .form {        
        font-family: 'CircularStd-Book';
        text-align: left;
        line-height: 1.2;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
    }

    .formGroup label {
        font-family: 'CircularStd-Book' !important;
        text-align: left;        
        font-size: 22px;
        color: #151718;
    }


    .inputBox {
        border: none;
        border-bottom: 2px solid #b1b1b1;
        width: 100%;
        line-height: 1.9;
        outline: none;
        background-color: white !important;
        box-shadow: none !important;
        padding: 0% !important;
        margin-left: 0 !important;
        margin-bottom: 10px !important;
    }

    ::placeholder {
        font-family: 'CircularStd-Bold';
        font-size: 14px;
        text-align: left;
        color: #878787;
    }

    .requestCallButton {
        text-align: center;
    }

    .requestCallButton button {    
        margin-top: 20px;
        padding: 1vh 5vh;
        background-color: #e32228;
        border-radius: 8px;
        color: #fff;
        font-size: 24px;
        text-align: center;
        white-space: nowrap;
        font-family: 'CircularStd-Bold';
    }

    .isInValid {
        border-bottom: 2px solid #e32228 !important;
    }

    .salesFanImg {
        width: 100%;
        position: relative;
    }

    .salesFanImg img {
        object-fit: contain;
        width: 100%;
    }

    .salesFanImg p {
        font-family: 'CircularStd-Bold';
        font-size: 32px;
        line-height: 1.36;
        text-align: left;
        color: #fff;        
        padding-left: 10vh;
        position: absolute;
        bottom: 10px;
        margin-bottom: 2vw;
    }



    .salesEnquiryProductContainer {
        display: flex;
        flex-direction: row;
        margin-top: 4vh;
        padding: 2px;
        width: 100%;
        justify-content: space-evenly;
        padding: 0vh 8vh;
    }

    .energyEfficiencyImg {
        width: 16% !important;
        position: absolute;
        top: 2vw;
        left:6vw;
    }

    .salesEnquiryProductImgContainer {
        position: relative;
        width: 40%;
    }

    .productImg img {
        width: 50%;
    }

    .productImg {
        width: 97%;
        padding: 32px 12px 24px 10px;
        background-color: #fff;
        align-items: center;
    }

    .viewAllMainContainer {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .viewAllContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10vh;
        padding-top: 8px;
    }

    .viewAllContainer p {
        color: #397ef5;
        font-family: CircularStd-Book;
        font-size: 18px;
        text-decoration: underline;
    }

    .viewAllContainer img {
        padding-left: 4px;
        height: 20px;
    }

    .orderDescriptionContainer {
        display: flex;
        flex-direction: column;
        background-color: #fde3ff;
        margin-top: 2vw;
        padding: 4vw 6px;
        align-items: center;
    }

    .orderHeadText {
        color: #151617;
        font-family: 'CircularStd-Bold';
        font-size: 32px;
        line-height: 1.31;
        text-align: left;
        padding-left: 4vh;
    }

    .orderDescriptionText {
        font-family: 'CircularStd-Book';
        font-size: 22px;
        line-height: 1.4;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* width: 120vh; */
        /* padding: 46px 0 0; */
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #151718;
        padding: 3vw 6vw;
    }

    .imgProductName {
        text-align: left;
        font-family: 'CircularStd-Bold';
        font-size: 16px;
        text-align: left;
        color: #151718;
        bottom: 15px;
        left: 22px;
        position: absolute;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

}